.episode-main-container

  .row.separator
    .col-md-6.header(:class="{'correct': !isOpen && correct}")
      .row
        .col-11
          h6
            | Episodio {{episode.Number}}
            small.small.margin-left-10 ({{episode.Title}})
        .col-1
          i.fas.right(@click="toggleOpenEpisode()" :class="{'fa-arrow-down': !isOpen, 'fa-arrow-up': isOpen}")

  .row(:class="{'hidden': !isOpen}")
    .col-md-6
      .row.separator
        .col-2
          label Titolo
        .col-9
          input(type="text", v-model="episode.Title")
        .col-1
          i.fas.fa-undo.right(@click="resetField('Title')" title="Reimposta campo")


      .row.separator
        .col-12
          h3 Video


      VideoLinks(:loaded-links="loaded_video_links")

    .col-md-6
      XmlViewer(:xml="xml_generated", type="episode")
