.row.separator
  .col-2
    label {{label}}
  .col-5
    .row(v-if="this.tmdb.formats.length > 0")
      .col-5
        label
          input.radio-image(type="radio" v-model="type" value="tmdb")
          | &nbsp;Da TMDB
      .col-7
        .right
          label width&nbsp;
            select(v-model="tmdb.res" :disabled="type != 'tmdb'")
              option(v-for="res in tmdb.formats" :value="res") {{res}}

    .row
      .col-12
        label
          input.radio-image(type="radio" value="personal" v-model="type")
          |&nbsp;Link personale
        i.fas.fa-search(@click="exploreImages()" title="esplora su TMDB")

    .row
      .col-12
        textarea(v-model="personal.link" :disabled="type != 'personal'")
  .col-5


    .row.separator
      .col-8
        strong {{computedRes}}
      .col-4
        a.right(:href="imageUrl" target="blank")
          i.fas.fa-eye
    .row
      .col-12
        a(:href="imageUrl" target="blank")
          img(:src="imageUrl")
