.movie-main-container
  .row
    .col-md-6
      .row.separator
        .col-2
          label Titolo
        .col-9
          input(type="text", v-model="card.Title")
        .col-1
          i.fas.fa-undo.right(@click="resetField('Title')" title="Reimposta campo")

      .row.separator
        .col-2
          label Collezione
        .col-9
          input(type="text", v-model="collection")

      .row.separator
        .col-2
          label Genere
        .col-9
          input(type="text", v-model="card.GenresStr")
        .col-1
          i.fas.fa-undo.right(@click="resetField('GenresStr')" title="Reimposta campo")

      .row.separator
        .col-2
          label Anno
        .col-9
          input(type="text", v-model="card.DateRange")
        .col-1
          i.fas.fa-undo.right(@click="resetField('DateRange')" title="Reimposta campo")

      .row.separator
        .col-2
          label Voto IMDB
        .col-3
          input(type="number" v-model="rating" step="0.1")
        .col-6
        .col-1
          i.fas.fa-undo.right(@click="resetField('rating')" title="Reimposta campo")

      .row.separator
        .col-2
          label Regista
        .col-9
          input(type="text", v-model="card.DirectorsStr")
        .col-1
          i.fas.fa-undo.right(@click="resetField('DirectorsStr')" title="Reimposta campo")
      .row.separator(:class="{'section-excluded': !addCastToXml}")
        .col-2
          label
            input(type="checkbox" v-model="addCastToXml")
            | Cast
          .counter {{castCounter}} / 5
        .col-9
          textarea.cast(type="text", v-model="card.CastStr")
        .col-1
          i.fas.fa-undo.right(@click="resetField('CastStr')" title="Reimposta campo")
          br
          i.fas.fa-cut.right(@click="cutCast()" title="Taglia automaticamente a 5 attori")
      .row.separator
        .col-2
          .row.separator
            .col-12
              label Descrizione
              .counter {{descriptionCounter}} / 310
              //- br
              //- span
              //-   | rating
              //-   input(type="checkbox" v-model="showVote" title="Includi rating IMDB in descrizione")
          .row.separator
            .col-12
              a(:href="googleDescrLink" target="blank")
                span Google
                  i.fas.fa-search

        .col-9
          textarea.description(type="text", v-model="card.Description")
        .col-1
          i.fas.fa-undo.right(@click="resetField('Description')" title="Reimposta campo")

      .row.separator
        .col-2
          .row
            .col-12
              label YT Trailer
          .row
            .col-12
              a(:href="'https://www.youtube.com/results?search_query=' + card.Title.toLowerCase() + ' trailer ita'" target="blank")
                span YouTube
                  i.fas.fa-search

        .col-9
          .row
            .col-12.youtube
              input.not-full(type="text", v-model="card.YT_trailer")
              a(@click="viewTrailer()")
                i.fas.fa-eye.margin-left-5

        .col-1
          i.fas.fa-undo.right(@click="resetField('YT_trailer')" title="Reimposta campo")
      .row.space
      hr

      .row.separator
        .col-12
          h3 Poster e Fanart


      IconFanart(:card="card" ref-type="Poster" :loaded-image="loaded_poster")

      .row.space

      IconFanart(:card="card" ref-type="Backdrop" :loaded-image="loaded_fanart")

      .row.space
      hr

      .row.separator
        .col-6
          h3 Video
        .col-6
          h3.right
            label
              input(type="checkbox", v-model="card.is4K")
              | 4K


      VideoLinks(:loaded-links="loaded_video_links")



    .col-md-6
      XmlViewer(:xml="xml_generated" type="movie" :tmdb="card.Id")



