.season-main-container

  .row.separator
    .col-md-6
      .row
        .col-11
          h4
            input(type="checkbox" v-model="season._included")
            | Stagione {{season.Number}}
            small.small.margin-left-10 ({{season.Title}})
        .col-1
          i.fas.right(@click="toggleOpenSeason()" :class="{'fa-arrow-down': !isOpen, 'fa-arrow-up': isOpen}")

  .season-body-container(:class="{'hidden': !isOpen}")
    .row
      .col-md-6

        .row.separator
          .col-2
            label Titolo
          .col-9
            input(type="text", v-model="season.Title")
          .col-1
            i.fas.fa-undo.right(@click="resetField('Title')" title="Reimposta campo")

        .row.separator
          .col-2
            label Anno
          .col-9
            input(type="text", v-model="year")
          .col-1
            i.fas.fa-undo.right(@click="resetField('year')" title="Reimposta campo")

        .row.separator(:class="{'section-excluded': !addDirectorsToXml}")
          .col-2
            label
              input(type="checkbox" v-model="addDirectorsToXml")
              | Regista
          .col-9
            input(type="text", v-model="directorsStr")
          .col-1
            i.fas.fa-undo.right(@click="resetField('directors')" title="Reimposta campo")

        .row.separator(:class="{'section-excluded': !addDescriptionToXml}")
          .col-2
            .row.separator
              .col-12
                label
                  input(type="checkbox" v-model="addDescriptionToXml")
                  | Descrizione
                .counter {{descriptionCounter}} / 310
            .row.separator
              .col-12
                a(:href="googleDescrLink" target="blank")
                  span Google
                    i.fas.fa-search

          .col-9
            textarea.description(type="text", v-model="description")
          .col-1
            i.fas.fa-undo.right(@click="resetField('Description')" title="Reimposta campo")


        .images-container(:class="{'section-excluded': !addImagesToXml}")
          .row.separator
            .col-12
                h3
                  input(type="checkbox" v-model="addImagesToXml")
                  | Poster e Fanart

          .image-inner-container(:class="{'hidden': !addImagesToXml}")
            IconFanart(:card="season.Posters ? season : card" ref-type="Poster" :loadedImage="loadedPoster")

            .row.space

            IconFanart(:card="season.Backdrops ? season : card" ref-type="Backdrop" :loadedImage="loadedBackdrop")

        hr
        .row.space

      .col-md-6
        XmlViewer(:xml="xml_generated", type="season" :tmdb="$parent.card.Id")


    .episodes-container
      .episode-outer-container(v-for="episode, index in season.Episodes")
        Episode(:episode="episode" :index="index" :season="season")

        .row.separator
          .col-md-6
            hr




