.serie-main-container
  .row
    .col-md-6
      .row.separator
        .col-2
          label Titolo
        .col-9
          input(type="text", v-model="card.Title")
        .col-1
          i.fas.fa-undo.right(@click="resetField('Title')" title="Reimposta campo")

      .row.separator
        .col-2
          label Genere
        .col-9
          input(type="text", v-model="card.GenresStr")
        .col-1
          i.fas.fa-undo.right(@click="resetField('GenresStr')" title="Reimposta campo")

      .row.separator
        .col-2
          label 4k?
        .col-6
          h3
            input(type="checkbox", v-model="card.is4K")


      .row.separator
        .col-2
          label Voto IMDB
        .col-3
          input(type="number" v-model="rating" step="0.1")
        .col-6
        .col-1
          i.fas.fa-undo.right(@click="resetField('rating')" title="Reimposta campo")

      hr

      .row.separator(:class="{'section-excluded': !addCastToXml}")
        .col-2
          label
            input(type="checkbox" v-model="addCastToXml")
            | Cast
          .counter {{castCounter}} / 5
        .col-9
          textarea.cast(type="text", v-model="card.CastStr")
        .col-1
          i.fas.fa-undo.right(@click="resetField('CastStr')" title="Reimposta campo")
          br
          i.fas.fa-cut.right(@click="cutCast()" title="Taglia automaticamente a 5 attori")

      .row.separator
        .col-2
          .row.separator
            .col-12
              label Descrizione
              .counter {{descriptionCounter}} / 310
          .row.separator
            .col-12
              a(:href="googleDescrLink" target="blank")
                span Google
                  i.fas.fa-search

        .col-9
          textarea.description(type="text", v-model="card.Description")
        .col-1
          i.fas.fa-undo.right(@click="resetField('Description')" title="Reimposta campo")


      .row.separator
        .col-12
            h3 Poster e Fanart

      IconFanart(:card="card" ref-type="Poster" loadedImage="")

      .row.space

      IconFanart(:card="card" ref-type="Backdrop" loadedImage="")



  .row.space


  .seasons-container
    .season-outer-container(v-for="season, index in card.Seasons" :class="{'section-excluded': !season._included}")

      Season(:season="season" :index="index" :card="card" :isFirst="firstIncludedSeason === season")

      .row.separator
        .col-md-6
          hr
      .row.space


