.videos-container
  .row.separator(v-for="linkVideo, i of videoLinks")
    .col-12
      .row
        .col-2
          label Nascosto?
        .col-3
          input(type="checkbox" v-model="linkVideo.hidden")
    .col-2
      .row
        .col-7
          label Link {{i + 1}}
        .col-3
          i.fas.fa-chevron-up(@click="moveUp(i)" title="Sposta su" v-if="i > 0")
        .col-2
      .row
        .col-7
        .col-3
            i.fas.fa-chevron-down(@click="moveDown(i)" title="Sposta giu")
        .col-1

    .col-9
      .row
        textarea(type="text", v-model="linkVideo.link")
      .row.nomargin
          .col-metadati
            span Sorgente
            br
            select(v-model="linkVideo.source")
              option(v-for="s of video_meta_data.sources" :value="s") {{s}}
          .col-metadati
            span Dimensioni
            br
            input(type="text" v-model="linkVideo.size" pattern="\\d+\\.?\\d{1}")
            |  GB
          .col-metadati
            span Codifica IT
            br
            select(v-model="linkVideo.codecAudio")
              option(v-for="l of video_meta_data.codecsAudio" :value="l") {{l}}
          .col-metadati
            span Lingue
            br
            select(v-model="linkVideo.lang")
              option(v-for="l of video_meta_data.languages" :value="l") {{l}}
          .col-metadati
            span Canali IT
            br
            select(v-model="linkVideo.channels")
              option(v-for="l of video_meta_data.channels" :value="l") {{l}}

          .col-metadati
            span Cod. Video
            br
            select(v-model="linkVideo.codecVideo")
              option(v-for="l of video_meta_data.codecsVideo" :value="l") {{l}}

          .col-metadati
            span Ris. Video
            br
            select(v-model="linkVideo.resolution")
              option(v-for="l of video_meta_data.resolutions" :value="l") {{l}}
    .col-1
      .row(v-if="i > 0")
        .col-12
          i.fas.fa-minus.right(@click="removeVideoLink(i)")
      .row
        .col-12
          i.fas.fa-plus.right(@click="addVideoLink(i)")
