extend ./layout

block extracss
    link(href=`${CONTEXT_PATH}/bootstrap.min.css` rel="stylesheet" type="text/css")
    link(href=`${CONTEXT_PATH}/kdtk.css` rel="stylesheet" type="text/css")
    link(href=`${CONTEXT_PATH}/css/all.min.css` rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet")


block meta
  meta(property="og:type" content="article")
  meta(property="og:title" content=card.Title)
  meta(property="og:description" content=card.Description)
  meta(property="og:image" content=card.Poster)
  meta(name="twitter:card" content="summary")
  meta(name="viewport" content="width=device-width")


block content
  .container-fluid
    .result
      .row.separator
        .col-12
          a(href="javascript:history.go(-1)" onMouseOver="self.status=document.referrer;return true") 
            small.btn.fas.fa-arrow-left


      .row.separator
        .col-5
          .profile-img
            img(src=card.Poster alt=card.Title)
        .col-7
          row.profile-head
            h3
              = card.Title
              br
              br
            rating=`${card.Vote} su ${card.data.voteCount} voti`
            .row
              .col-6
                dl.margin-top
                  dt Data
                  dd= card.DateRange
                  dt Genere
                  dd= card.Genres.join(', ')
                  dt Direttore
                  dd= card.Directors.slice(0, 5).join(', ')
                  if card.IsTvShow
                    dt Creatore:
                    dd= card.Creators.slice(0, 5).join(', ')
                  if card.IsTvShow
                    dt Stagioni totali
                    dd= card.NumberSeasons
                    dt Episodi totali
                    dd= card.NumberEpisodes
              .col-6
                dl.margin-top
                  if card.IsTvShow
                    dt Creatore:
                    dd= card.Creators.slice(0, 5).join(', ')
                  dt Sceneggiatura
                  dd= card.Writers.slice(0, 5).join(', ')

                  dt Attori
                  dd= card.Cast.slice(0, 5).join(', ')
      .row.separator
        .col-12
          dt Descrizione
          if card.IsMovie
            dd= card.Tag
          dd= card.Description
      .row.separator
        .col-12
          a(href="javascript:history.go(-1)" onMouseOver="self.status=document.referrer;return true") 
            small.btn.fas.fa-arrow-left
