extend ./layout

block content

  h1 Cerca Film<br>o SerieTV<br>su TMDB

  form(method="GET" action=`${CONTEXT_PATH}/info`)
    input(type="text" name="q" value="" placeholder="query")
    button(type="submit") Cerca

