extend ./layout

block extracss
    link(href=`${CONTEXT_PATH}/bootstrap.min.css` rel="stylesheet" type="text/css")
    link(href=`${CONTEXT_PATH}/highlight.default.css` rel="stylesheet" type="text/css")
    link(href=`${CONTEXT_PATH}/kdtk.css` rel="stylesheet" type="text/css")
    link(href=`${CONTEXT_PATH}/css/all.min.css` rel="stylesheet" type="text/css")
    //- link(href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet")

block meta
    meta(name="viewport" content="width=device-width")


block headeraction
  .right
    button#upload-btn() Upload XML
  .right
    button#download-btn() Scarica XML

block content
  #main(:class="{'movie': card.movie, 'tvshow': card.tvshow}")

    .imdbdata-container(v-if="showImdbData && card.ImdbData")
      .container
        h3
          | Dati da IMDB
        i.fas.fa-times-circle(@click="hideImdbDetails()")
        .row.space
        .row.separator(v-for="value, key of card.ImdbData" v-if="typeof value != 'object'")
          .col-2
            label
              strong {{key}}
          .col-10
            span {{value}}



    .editor.container-fluid

      .row
        .col-12
          .row
            .col-6
              .row
                .col-2
                  a(href="javascript:history.go(-1)" onMouseOver="self.status=document.referrer;return true")
                    i.fas.fa-arrow-left &nbsp;

                .col-10
                  .row.separator
                    .col-12
                      h3
                        | {{original_card.Title}}
                        small.small-text.margin-left-10 ({{original_card.movie ? 'Film' : 'Serie TV'}})
                      span {{original_card.OriginalTitle}}

                  .row
                    .col-2
                      dl
                        dt Voto
                        dd.overflow-hidden {{original_card.Vote}}
                    .col-2
                      dl
                        dt TMDB
                        dd.overflow-hidden
                          a(:href="tmdbUrl" target="blank") {{original_card.Id}}
                    .col-2
                      dl(v-if="original_card.ImdbId")
                        dt
                          | IMDB
                          i.fas.fa-info-circle(@click="showImdbDetails()")
                        dd.overflow-hidden
                          a(:href="imdbUrl" target="blank") {{original_card.ImdbId}}
                    .col-6(v-if="original_card.Homepage")
                      dl
                        dt Sito Ufficiale
                        dd.overflow-hidden
                          a(:href="original_card.Homepage" target="blank") {{original_card.Homepage.substring(0, 33)}}
                          | ...
              hr

          Movie(v-if="original_card.movie" :card="card")
          Serietv(v-if="original_card.tvshow" :card="card")



block extrajs
  script.
    window.Card = !{JSON.stringify(card.toPage())};
    window.Card.ImdbData = window.Card.ImdbData || {rating: 0};

  script(src=`${CONTEXT_PATH}/highlight.pack.js`)
  script(src=`${CONTEXT_PATH}/app.bundled.js`)



