html
  head

    title= `${NAME} - ${Vers}`

    block meta

    block extracss

    body

      header
        .row
          .col-6.logo
            .row
              .col-12
                img(src=`${CONTEXT_PATH}/${LOGO}.png`)
            .row
              .col-12
                small.greetings created by @fatshotty

          .col-6
            block headeraction

      .page
        block content

block extrajs




