extend ./layout


block extracss
  link(href=`${CONTEXT_PATH}/bootstrap.min.css` rel="stylesheet" type="text/css")
  link(href=`${CONTEXT_PATH}/kdtk.css` rel="stylesheet" type="text/css")
  link(href=`${CONTEXT_PATH}/css/all.min.css` rel="stylesheet" type="text/css")
  //- link(href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet")

block meta
    meta(name="viewport" content="width=device-width")




block content
  .container-fluid
    .result
      .row.separator
        .col-lg-6
          form(method="GET" action=`${CONTEXT_PATH}/info`)
            .row.separator
              .col-4
                h3
                  label Film o SerieTV
              .col-7
                input(type="text" name="q" value="" placeholder="titolo")
              .col-1
                button.search(type="submit")
                  i.fas.fa-search


      if (results ||[]).length
      .row.separator
        .col-md-1
          label Risultati
        .col-md-5
          each card in results || []
            if card && (card.mediaType == 'movie' || card.mediaType == 'tv')
              .card.container-fluid
                .row.separator
                  .col-4
                    a(href=`${CONTEXT_PATH}/info/${card.id || card.imdbid}?type=${card.mediaType}`)
                      img.card-img-top(src=`${imgOptions.baseUrl}w780${card.posterPath || card.backdropPath}` alt=card.originalTitle)
                  .col-8
                    .row.separator
                      .col-12
                        h4.card-title= card.title || card.name
                        = `${card.mediaType == 'movie' ? 'Film' : 'Serie TV'}`
                    .row.separator
                      .col-12
                        = card.releaseDate ? card.releaseDate.substring(0, 4) : card.firstAirDate
                    .row.separator
                      .col-12
                        = `TMDB ID: ${card.id}`
                    .row.space
                    .row.separator
                      .col-6
                        a.btn(href=`${CONTEXT_PATH}/info/${card.id || card.imdbid}?type=${card.mediaType}`) Dettagli
                      .col-6
                        a.btn(href=`${CONTEXT_PATH}/info/${card.id || card.imdbid}/edit?type=${card.mediaType}`) Crea XML
              .row.space
