/* Layout */
html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;;
  font-weight: 300;
  font-size: 14px;
  color: #000e1f;
  padding: 0;
  margin: 0;
  height: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 4.17em;
  width: 100%;
  min-width: 42.67em;
  padding: 0.9em;
  background-color: #000e1f;
  z-index: 0;
}

.page {
  padding-top: 4.17em;
}

#main {
  height: 100%;
}

#main.dropping {
  opacity: 0.3;
  border: 5px dashed gray;
}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
  padding-right:0.42em;
  padding-left:0.42em;
}

.row {
  margin-right:-0.42em;
  margin-left:-0.42em;
}

.row.separator {
  margin-bottom: 0.83em;
}

.row.space {
  height: 1.5em;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}


h1 {

}

h2 {

}

h3 {
  font-size: 1.9em;
}

h4 {
  font-size: 1.6em;
}

strong {
  display: block;
  font-weight: 700;
  margin-bottom: -0.83em
}

img {
  width: 100%;
  max-height: 100%;
}

.logo img {
  width: 18em;
}

hr{
  border-color: #E6E7E9;
}

a {
  color: #31afe1;
}

a:hover {
  color: #31afe1;
}

a:hover .fas {
  color: #31afe1;
}

a:visited {
  color: #31afe1;
}

.regular {
  font-weight: 300;
}

.right {
  float: right;
}
.left {
  float: left;
}

.counter {
  font-size: 0.83em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: url(webfonts/sort-solid.svg) no-repeat;
  background-position:right center;
  background-color: #ecf7fc;
  background-size: 0.75em;
  color: #000000;
  border: 1px solid #cceaf7;
  padding:0 0.65em !important;
  height:auto !important;
}

.col-5 label {
  font-weight:normal;
}

textarea {
  border: 1px solid #d1d1d1;
}

label {
  font-weight: 700;
}

button {
  color: #000e1f;
  border-radius: 2.5em;
  margin: 0 0.42em;
  border: 1px solid #acdff3;
  background-color: #cceaf7;
}

button:hover {
  background: #31afe1;
  color: #000e1f;
}

button:visited {
  color: #000e1f;
}

textarea, input {
  border: 1px solid #acdff3;
}

input[type="text"], .editor textarea {
  width: 100%;
}

input[type=radio] {
  float: left;
  margin: 0.3em 0 0 0;
  padding-left:0.3em;
  padding-right:0.3em;
  border-radius:0.5em;

  -webkit-appearance:button;

  border: double 2px #acdff3;
  background-color: #cceaf7;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:1em;
  height:1em;
}

input[type=radio]:checked {
  background-color:#000e1f;
  border-left-color:#acdff3;
  border-right-color:#acdff3;
}

input[type=radio]:hover {
  box-shadow:0em 0em 0.32em #acdff3;
}

input[type=checkbox] {
  float: left;
  margin: 0.35em 0.42em 0 0;
  padding-left:0.20em;
  padding-right:0.20em;
  border-radius:0.2em;

  -webkit-appearance:button;

  border: double 2px #acdff3;
  background-color: #cceaf7;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:0.8em;
  height:0.8em;
}

h3 > input[type=checkbox]   {
font-size: 0.7em;
margin: 0.42em 0.42em 0 0;

}

input[type=checkbox]:checked {
  background-color:#000e1f;
  border-left-color:#acdff3;
  border-right-color:#acdff3;
}

input[type=checkbox]:hover {
  box-shadow:0em 0em 0.20em #acdff3;
}

small.btn {
  font-size: 1.3em;
  color: #cceaf7;
  cursor: pointer;
}

small.btn:hover {
  color: #31afe1;
}

small.btn.fas.fa-arrow-left {
  font-size: 2em;
  padding: 0.1em 0 0 0;
  font-weight: 700;
}

small.btn.fas.fa-eye {
  font-size: 1.5em;
  margin: 0 0 0 0;
  padding: 0;
}

.youtube small.btn.fas.fa-eye {
  font-size: 1.5em;
  margin: -0.1em 0 0.1em 0.42em;
  padding: 0;
}

small.btn.fas.fa-info-circle {
  margin: -0.2em 0 0em 0.42em;
  padding: 0;
}



small.btn.fas.fa-minus {
  margin: -0.43em 0 0 0;
  padding: auto;
}

small.btn.fas.fa-plus {
  margin: -0.42em 0 0 0;
  padding: auto;
}

small.btn.fas.fa-search {
  font-size: 1.2em;
  margin: -0.1em 0 0 0.42em;
  padding: 0;
}

small.btn.fas.fa-times-circle {
  margin: -3.48em 0 0 -2.48em;
  padding: 0;
  position: fixed;
  color: #d9d9d9;
}

small.btn.fas.fa-undo {
  padding: auto;
  margin: -0.42em auto;
}

small.btn.fas.fa-chevron-up {
  margin: 0;
  padding: 0;
}

small.btn.fas.fa-chevron-down {
  margin: 0;
  padding: 0;
}

small.btn span {
  font-family: "Roboto";
  font-weight: 700;
}

small.btn span:hover {
  text-decoration: underline;
}

.editor {
  position: relative;
  float: left;
  min-width: 42.67em;
  width: 49.67em;
  padding-top: 1em;
  z-index: -1;
}

.viewer {
  position: relative;
  width: 100%;
  padding: 0 0 0 45.67em;
}

.html {
  color: #36404F;
  background-color: #E6E7E9;
}

.hljs-string {
  color: #31AFE1;
}

.fixedright {
  position: fixed;
  padding: 1em 0 1em 0;
  top: 4.17em;
  left:  49.2em;
  bottom: 0;
}

pre {
  background-color: white;
  position: fixed;
  padding: 0;
  top: 11.17em;
  left: 56em;
  right: 0.5em;
  bottom: 0;
  overflow: auto;
}

button#upload-btn, button#download-btn {
  margin-top: 0.1em;
}

.editor small.btn span {
  font-family: "Roboto";
  font-weight: 300;
}

.editor small.btn span:hover {
  text-decoration: underline;
}

.imdbdata-container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.imdbdata-container > .container {
  background-color: white;
  position: absolute;
  padding: 0.83em 1.67em 2.5em 1.67em;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
  max-height: auto;
  width: 70%;
  overflow: auto;
}

.editor input.not-full {
  width: 50%;
}

.editor textarea {
  min-height: 6.1em;
}

.editor textarea.cast {
  min-height: 8.33em;
}

.editor textarea.description {
  min-height: 15.67em;
}

.col-metadati {
  width: 14.25%;
  margin: 0;
  padding: 0;
  font-size: 0.85em;
}

.col-metadati select {
  width: 95%;
  background-size: 0.88em;
}

.col-metadati option {
  margin: 0;
  padding: 0;
}


.col-metadati input[type=text] {
  margin: 0;
  padding: 0;
  width: 3.3em;
  text-align: center;
}


/* Result */

.result {
  position: absolute;
  float: left;
  min-width: 42.67em;
  width: 42.67em;
  padding-top: 1em;
  z-index: -1;
}

.result label {
  font-weight: 700;
}

.result input {
  margin: 0.25em 0 0 0;
  padding-left: 0.42em;
  width: 100%;
}

.result button, .result a.btn {
  font-size: 1em;
  color: #000e1f;
  border: 1px solid #acdff3;
  border-radius: 0.83em;
  height: auto;
  background-color: #cceaf7;
}

 a.btn {
  color: #000e1f;
  width: 100%;
  margin: 0;
  background-color: #cceaf7;
}

.result button:hover {
  background: #31AFE1;

}

a.btn:visited {
  color: #000e1f;

}

a.btn:hover {
  background: #31AFE1;
}

.card {
  position: relative;
  margin: 0 0 0.83em 0;
  padding: 0;
  border: none;
}

.search small.btn.fas.fa-search {
  margin: 0.15em 0 0 0;
  font-size: 1.7em;
  padding: 0;
}

button.search {
  color: none;
  border-radius: 0;
  padding: 0;
  margin:0;
  border: none;
  background-color: #fff;
  }

button.search:hover {
  color: none;
  border-radius: 0;
  padding: 0;
  margin:0;
  border: none;
  background-color: #fff;
  }


/* Details */

.margin-top {
   margin-top: 4.17em;
}



/* Media screen */


@media screen and (max-width: 800px) {

.editor {
  min-width: 42.67em;
  width: 100%;
  position: relative;
  z-index: -1;
}

.viewer {
  float: left;
  position: relative;
  width: 100%;
  padding: 0;
}

.fixedright
 {
  padding: 1em 1.67em 0 1.67em;
  margin-bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}


pre {
  position: relative;
  padding: 1em 1.67em 0 2.4em;
  width: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }

.result {
  min-width: 42.67em;
  width: 100%;
  position: relative;
  }


@media screen and (max-width: 480px) {
body {
  font-size: 0.937em;
  width: 106.7%;
  }
}

@media screen and (max-width: 414px) {
body {
  font-size: 0.808em;
  width: 123.8%;
  }
}


@media screen and (max-width: 400px) {
body {
  font-size: 0.781em;
  width: 128%;
  }
}


@media screen and (max-width: 384px) {
body {
  font-size: 0.75em;
  width: 133.3%;
  }
}

@media screen and (max-width: 375px) {
body {
  font-size: 0.732em;
  width: 136.6%;
  }
}

@media screen and (max-width: 360px) {
body {
  font-size: 0.703em;
  width: 142.2%;
  }
}

@media screen and (max-width: 320px) {
body {
  font-size: 0.625em;
  width: 160%;
  }
}

.editor textarea {
  min-height: 5em;
}
